{{>header}}
<div id="products-container">
    <h1>Drinks</h1>
    {{#each drinks}}
    <hr>
    <div class="product">
        <section>
            <div class="info">
                <h1>{{name}}</h1>
                <h2>${{price}}</h2>
                <input type="submit" value="Order">
            </div>
        </section>
        <img src="{{img}}" alt="">
    </div>
    {{/each}}
</div>
{{>footer}}