 <footer>
        <p> ©️ All copyrights reserved</p>
       
        <div class="footer-icons">
           
               <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
           
        </div>
        
    </footer>