<nav id="navigation">

    <ul id="nav-container">
      <a href="#/home">
            <li >Home</li>
        </a>  
        
      {{#if loggedIn}} 
        <a href="#/menu">
            <li>Menu</li>
        </a>

       
       <a href="#"><li id="profileCart"><i class="fas fa-shopping-cart" id="cart" onclick="solve()"></i></li></a> 
      
       <a href="#/profile"><li id="profileIcon"><i class="fas fa-user-circle"></i></li>
       
       </a> 
      {{else}} 
      
      <a href="#/login">
            <li>Login</li>
        </a>
        <a href="#/register">
            <li>Register</li>
        </a>
     
       {{/if}}
    </ul>
   
</nav>