<nav id="navigation">

    <ul id="nav-container">

        <a href="#/home">
            <li>Home</li>
        </a>
        <a href="#/menu">
            <li>Menu</li>
        </a>
        <a href="#/login">
            <li>Login</li>
        </a>
        <a href="#/register">
            <li>Register</li>
        </a>

        {{#if loggedIn}}
        <li><i class="fas fa-shopping-cart" id="cart" onclick="solve()"></i></li>
       <a href="#/profile"><li><i class="fas fa-user-circle"></i></li></a> 
       <li id="welcome-heading">Welcome, {{username}}</li> 
       {{/if}}
    </ul>
</nav>