  {{>header}}
  <div class="loginRegister-form">
            <form action="">
               <i class="fas fa-user" style="color: white;"></i>
                <input type="text" value="" name="username" placeholder="Username">
                <input type="text" value="" name="password" placeholder="Password">
                <button type="submit" id="register-button">Login</button>
                <a href="#/register">Haven't got an account ? Register Now</a>
            </form>
        </div>
  