{{>header}}
       <div id="products-container">
            <h1>Burgers</h1>
            <hr>
            <div class="product">
                <section>
                    <div class="info">
                        <h1>Double Cheese Burger</h1>
                        <h2>$4.50</h2>
                        <input type="submit" value="Buy">
                    </div>
                </section>
                <img src="./img/amirali-mirhashemian-sc5sTPMrVfk-unsplash.jpg" alt="">
            </div>
            <hr>
            <div class="product">
                <section>
                    <div class="info">
                        <h1>Cheese Burger</h1>
                        <h2>$3.90</h2>
                        <input type="submit" value="Buy">
                    </div>
                </section>
                <img src="./img/food-photographer-david-fedulov-E94j3rMcxlw-unsplash.jpg" alt="">
            </div>
            <hr>
            <div class="product">
                <section>
                    <div class="info">
                        <h1>Black Burger</h1>
                        <h2>$3.40</h2>
                        <input type="submit" value="Buy">
                    </div>
                </section>
                <img src="./img/bake-affair-black-brioche-burger-buns-with-white-sesame-seeds-683-g-705912-en.jpg" alt="">
            </div>
            <h1>Drinks</h1>
            <hr>
            <div class="product">
                <section>
                    <div class="info">
                        <h1>Coca Cola</h1>
                        <h2>$1.20</h2>
                        <input type="submit" value="Buy">
                    </div>
                </section>
                <img src="./img/cocacola-2l.jpg" alt="">
            </div>

            <hr>
            <div class="product">
                <section>
                    <div class="info">
                        <h1>Fuse tea</h1>
                        <h2>$1.60</h2>
                        <input type="submit" value="Buy">
                    </div>
                </section>
                <img src="./img/FUSE-TEA-PEACH-1.5L.jpg" alt="">
            </div>
            <hr>
            <div class="product">
                <section>
                    <div class="info">
                        <h1>Water</h1>
                        <h2>$0.99</h2>
                        <input type="submit" value="Buy">
                    </div>
                </section>
                <img src="./img/fe37fd1761d8ef526bc36f370a1ee9be_large.png" alt="">
            </div>
        </div>
 {{>footer}}       