 <section id="orders">
            <h1>Current orders</h1>

            <div class="order">
                <p class="productOrder">French fries</p>
                <p class="productPrice">$2.72</p>

            </div>
            <div class="order">
                <p class="productOrder">Coca Cola</p>
                <p class="productPrice">$1.27</p>

            </div>
            <div class="order">
                <p class="productOrder">Burger</p>
                <p class="productPrice">$2.35</p>

            </div>



            <div id="totalSection">
                <hr>
                <div class="total">
                    <p class="subtotal">Subtotal</p>
                    <p class="totalPrice">$6.34</p>
                </div>

                <div class="total">

                    <p class="subtotal">Shipping</p>
                    <p class="totalPrice">None</p>
                </div>
                <hr>
                <div class="total">

                    <p class="subtotal" id="totalName">Total</p>
                    <p class="totalPrice" id="overallPrice">$6.34</p>
                </div>
            </div>

            
            <button>Checkout</button>
        </section>