 {{>header}}
 <div id="profile-section">
         <section>
             <div class="profileWithUser">
                 <article>
                     <img src="./img/clipart915439.png" alt="">
                     <h1>{{username}}</h1>
                 </article>
                
                 <article class="logout-orders">
                     <p>Number of orders: 1</p>
                     <a href="#/logOut"><button>Logout</button></a>
                 </article>
               
             </div>
             
         </section>
        </div>
    