{{>header}}
<div class="loginRegister-form">
    <form action="#/register" method="POST">
        <i class="fas fa-user" style="color: white;"></i>
        <input type="text" value="" name="username" placeholder="Username">
        <input type="text" value="" name="password" placeholder="Password">
        <input type="text" value="" name="rePassword" placeholder="RepeatPassword">
        <button type="submit" id="register-button">Register</button>
    </form>
</div>
